# Data Prep

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

## Calling Helper Functions
* Added a scripts directory and called it helpers
* In helpers added a module <i/>helpers.py</i> that holds all our helper functions

In [8]:
pwd

'/media/sl202194/Seagate Backup Plus Drive/a. Data Science Dream Job/b. Projects/Supply Chain/back_order_predictor_v2'

In [9]:
!ls

'00. Define_Problem.ipynb'    '03. Data_Exploration.ipynb'      helpers
'01. File_Exploration.ipynb'  '04. Data_Modeling-Copy3.ipynb'   raw_data
'02. Data_Preparation.ipynb'   data			        unzipped_data

In [5]:
#Inspecting path
import sys
sys.path

['/media/sl202194/Seagate Backup Plus Drive/a. Data Science Dream Job/b. Projects/Supply Chain/back_order_predictor_v2',
 '/home/sl202194/miniconda3/lib/python37.zip',
 '/home/sl202194/miniconda3/lib/python3.7',
 '/home/sl202194/miniconda3/lib/python3.7/lib-dynload',
 '',
 '/home/sl202194/miniconda3/lib/python3.7/site-packages',
 '/home/sl202194/miniconda3/lib/python3.7/site-packages/IPython/extensions',
 '/home/sl202194/.ipython']

In [5]:
#Append directory containing helpers to sys.path
'''Note that appending helpers is not necessary here as python will locate the helpers directory within
   sys.path[0], if the helpers package is in our working directory
'''
sys.path.append('helpers')

In [5]:
from helpers import helpers

In [6]:
#Reading electronics data
features = helpers.read_in_dataset("Kaggle_Training_Dataset_v2", verbose=True)

************** Reading in the Kaggle_Training_Dataset_v2 dataset ***************

it has 1687861 rows and 23 columns

************************* It has the following columns**************************

Index(['sku', 'national_inv', 'lead_time', 'in_transit_qty',
       'forecast_3_month', 'forecast_6_month', 'forecast_9_month',
       'sales_1_month', 'sales_3_month', 'sales_6_month', 'sales_9_month',
       'min_bank', 'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
       'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint',
       'ppap_risk', 'stop_auto_buy', 'rev_stop', 'went_on_backorder'],
      dtype='object')

********************** The first five rows look like this **********************

       sku  national_inv  lead_time  in_transit_qty  forecast_3_month  \
0  1026827           0.0        NaN             0.0               0.0
1  1043384           2.0        9.0             0.0               0.0
2  1043696           2.0        NaN             0.0               0.0
3  1043852           7.0        8.0             0.0               0.0
4  1044048           8.0        NaN             0.0               0.0

   forecast_6_month  forecast_9_month  sales_1_month  sales_3_month  \
0               0.0               0.0            0.0            0.0
1               0.0               0.0            0.0            0.0
2               0.0               0.0            0.0            0.0
3               0.0               0.0            0.0            0.0
4               0.0               0.0            0.0            0.0

   sales_6_month  sales_9_month  min_bank potential_issue  pieces_past_due  \
0            0.0            0.0       0.0              No              0.0
1            0.0            0.0       0.0              No              0.0
2            0.0            0.0       0.0              No              0.0
3            0.0            0.0       1.0              No              0.0
4            0.0            4.0       2.0              No              0.0

   perf_6_month_avg  perf_12_month_avg  local_bo_qty deck_risk oe_constraint  \
0            -99.00             -99.00           0.0        No            No
1              0.99               0.99           0.0        No            No
2            -99.00             -99.00           0.0       Yes            No
3              0.10               0.13           0.0        No            No
4            -99.00             -99.00           0.0       Yes            No

  ppap_risk stop_auto_buy rev_stop went_on_backorder
0        No           Yes       No                No
1        No           Yes       No                No
2        No           Yes       No                No
3        No           Yes       No                No
4        No           Yes       No                No

********************* Below are data types for each column *********************

sku                   object
national_inv         float64
lead_time            float64
in_transit_qty       float64
forecast_3_month     float64
forecast_6_month     float64
forecast_9_month     float64
sales_1_month        float64
sales_3_month        float64
sales_6_month        float64
sales_9_month        float64
min_bank             float64
potential_issue       object
pieces_past_due      float64
perf_6_month_avg     float64
perf_12_month_avg    float64
local_bo_qty         float64
deck_risk             object
oe_constraint         object
ppap_risk             object
stop_auto_buy         object
rev_stop              object
went_on_backorder     object
dtype: object

In [7]:
!free -m

              total        used        free      shared  buff/cache   available
Mem:           9041        5850        1067         185        2122        2704
Swap:          2047           1        2046

## Exploring Datasets

In [7]:
features.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,No,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,No,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

In [26]:
features.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
national_inv,1687860.0,496.111782,29615.233831,-27256.0,4.00,15.00,80.00,12334404.0
lead_time,1586967.0,7.872267,7.056024,0.0,4.00,8.00,9.00,52.0
in_transit_qty,1687860.0,44.052022,1342.741731,0.0,0.00,0.00,0.00,489408.0
forecast_3_month,1687860.0,178.119284,5026.553102,0.0,0.00,0.00,4.00,1427612.0
forecast_6_month,1687860.0,344.986664,9795.151861,0.0,0.00,0.00,12.00,2461360.0
forecast_9_month,1687860.0,506.364431,14378.923562,0.0,0.00,0.00,20.00,3777304.0
sales_1_month,1687860.0,55.926069,1928.195879,0.0,0.00,0.00,4.00,741774.0
sales_3_month,1687860.0,175.025930,5192.377625,0.0,0.00,1.00,15.00,1105478.0
sales_6_month,1687860.0,341.728839,9613.167104,0.0,0.00,2.00,31.00,2146625.0
sales_9_month,1687860.0,525.269701,14838.613523,0.0,0.00,4.00,47.00,3205172.0
min_bank,1687860.0,52.772303,1254.983089,0.0,0.00,0.00,3.00,313319.0
pieces_past_due,1687860.0,2.043724,236.016500,0.0,0.00,0.00,0.00,146496.0
perf_6_month_avg,1687860.0,-6.872059,26.556357,-99.0,0.63,0.82,0.97,1.0
perf_12_month_avg,1687860.0,-6.437947,25.843331,-99.0,0.66,0.81,0.95,1.0
local_bo_qty,1687860.0,0.626451,33.722242,0.0,0.00,0.00,0.00,12530.0

In [28]:
features.describe(include=['object'])

,sku,potential_issue,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
count,1687861,1687860,1687860,1687860,1687860,1687860,1687860,1687860
unique,1687861,2,2,2,2,2,2,2
top,3276990,No,No,No,No,Yes,No,No
freq,1,1686953,1300377,1687615,1484026,1626774,1687129,1676567

# Making a Dataset for Analysis

In [8]:
#connvert binary features to numerical
binary_cols = ['potential_issue', 'deck_risk', 'oe_constraint', 'ppap_risk', 'stop_auto_buy', 
              'rev_stop', 'went_on_backorder']
df_dummies = pd.get_dummies(features, columns = binary_cols, drop_first = True)

In [9]:
df_dummies.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Yes,deck_risk_Yes,oe_constraint_Yes,ppap_risk_Yes,stop_auto_buy_Yes,rev_stop_Yes,went_on_backorder_Yes
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-99.00,-99.00,0.0,0,0,0,0,1,0,0
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.99,0.99,0.0,0,0,0,0,1,0,0
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-99.00,-99.00,0.0,0,1,0,0,1,0,0
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.10,0.13,0.0,0,0,0,0,1,0,0
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,0.0,-99.00,-99.00,0.0,0,1,0,0,1,0,0

# Train, Test Split

Making a directory "derived_data" to store our modelling data

Since we have a test dataset included, we'll just add a validation dataset to validate our results before final testing

In [10]:
!mkdir -p derived_data

In [11]:
#Split data into train and test  
train,  validate = np.split(df_dummies.sample(frac=1), [int(.8*len(df_dummies))])

In [12]:
train.shape

(1350288, 23)

In [13]:
train.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,potential_issue_Yes,deck_risk_Yes,oe_constraint_Yes,ppap_risk_Yes,stop_auto_buy_Yes,rev_stop_Yes,went_on_backorder_Yes
1121872,1486266,139.0,8.0,6.0,0.0,350.0,350.0,18.0,52.0,115.0,185.0,24.0,0.0,0.98,0.99,0.0,0,0,0,0,1,0,0
1685272,1468661,-2.0,14.0,0.0,3.0,24.0,32.0,10.0,31.0,33.0,33.0,18.0,0.0,0.91,0.88,2.0,0,0,0,0,1,0,0
793001,2140959,7529.0,8.0,8.0,2500.0,2500.0,2500.0,71.0,114.0,1563.0,2419.0,117.0,0.0,1.00,1.00,0.0,0,0,0,0,1,0,0
849669,2197644,792.0,8.0,6.0,0.0,0.0,0.0,7.0,41.0,99.0,192.0,24.0,0.0,0.83,0.91,0.0,0,0,0,0,1,0,0
595843,1943809,3.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,6.0,0.0,0.0,0.38,0.40,0.0,0,0,0,0,1,0,1

In [14]:
validate.shape

(337573, 23)

# Save Data Files
Writing our modeling data to a csv for loading on our next notebooks

In [15]:
train.to_csv('derived_data/train_data.csv', index=False)

In [16]:
validate.to_csv('derived_data/validate_data.csv', index=False)